/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters_suisse.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/web/uploads/*
/vendor/*
app/www/uploads/
