{% extends '::base.html.twig' %}

{% block body %}
<div style="margin:20px;">
<h1>Questions Fréquentes</h1>
<p><b>1. Utilisation du site </b></p>
<ol type="a">
	<li><b>Pourquoi le site Papilo.fr est gratuit?</b><br />
	Les membres fondateurs d´EPILOG Sàrl, créateurs de PAPILO souhaitent donner l´égalité de chances à tous les élèves et promouvoir les sciences.
	</li>
	<li><b>Peut-son s´enregistrer sans adresse email ou facebook?</b><br />
	Non, pas pour l'instant.
	</li>
	<li><b>Comment fonctionne l'arbre de savoirs?</b><br />
	Chaque savoir est débloqué si l´élève maitrise les savoirs “parents” de niveaux supérieurs.
	Un savoir débloqué aura une barre de force indiquant une note de maitrise de 0 = moyen à 5 = parfait
	</li>
	<li><b>Comment fonctionnent les badges?</b><br />
	Pour obtenir un badge, on ne connaît pas la condition tant qu'il n´est pas atteint, ceci reste une surprise
	</li>
</ol>
<p><b>2.Fonctionnalités des classes</b></p>
<ol type="a">
	<li><b>Professeur: Comment créer une classe?</b><br />
	En cours de développement
	</li>
	<li><b>Elève: comment s´enregistrer dans mes classes?</b><br />
	En cours de développement
	</li>
</ol>
<p><b>3. Questions diverses</b></p>
<ol type="a">
	<li><b>A qui m'adresser pour participer à l´amélioration du site?</b><br />
	nous envoyer un email à <a href="mailto:contact@papilo.fr">contact@papilo.fr</a>
	</li>
</ol>
</div>
{% endblock %}