{% extends '::base.html.twig' %}

{% block body %}
<div style="margin:20px;">
<h1>Conditions Générales</h1>
<p style="text-align:center;"><b>CONDITIONS D'UTILISATION DU SITE</b></p>
<b>1. Information de l'entreprise:</b>
<p>Ce site est exploité par <b>EPILOG Sàrl</b>, une société enregistrée en Suisse sous le numéro <b>CHF-421.421.237</b> dont le siège est à l'adresse <b>Rue Henri Veyrassat 10, CH-1202 Genève, Suisse .</b>
Notre adresse e-mail est <a href="mailto:contact@papilo.fr">contact@papilo.fr</a></p>

<p><b>2. L'utilisation du site, le droit d'auteur et des marques:</b></p>
<p>En visitant ou en utilisant ce site, vous en acceptez ses conditions. </p>
<p>Tous les droits sont reconnus. Tous les droits d'auteur et autres droits de propriété intellectuelle, en toutes matières, y compris le code html, texte, photos ou autres images affichées sur notre site, sont la propriété d´EPILOG Sàrl ou ont été autorisés pour notre usage par leur propriétaires respectifs. 
</p>
<p>Si vous souhaitez utiliser l'un des renseignements ou du matériel affiché sur notre site, vous devez d'abord obtenir notre autorisation écrite. Vous ne devez pas modifier, copier, transmettre, afficher, exécuter, publier, une licence ou créer des œuvres dérivées de toute information ou de logiciels accessibles par le biais du service. 
</p>
<p>Lorsque la copie ou la transmission est expressément autorisé, vous ne devez pas modifier ou supprimer toute mention de l'auteur ou de copyright. 
</p>
<p>Les liens vers d'autres sites non exploités par nous sont uniquement pour votre commodité. Vous ne devez pas utiliser notre site Web pour toutes les activités qui violent les lois, portent atteinte aux droits d'une partie, ou de violation des normes, des exigences de contenu ou des codes promulgués par toute autorité compétente. Vous ne devez pas utiliser notre site Web d'une manière qui interfère avec d'autres utilisateurs ou qui diffame, harcele ou menace quiconque. Vous devrez nous indemniser à l'égard de toutes les actions, réclamations, poursuites, demandes, responsabilités, coûts ou dépenses découlant de l'utilisation que vous faites de notre site.
</p>
<p><b>3. Les informations personnelles de l'utilisateur:</b></p>
<p>Nous nous sommes engagés à maintenir la confidentialité de tous les actuels, anciens et futurs <b>élèves et professeurs</b>. Nous reconnaissons que vous pouvez confier des informations personnelles importantes pour nous, et nous tenons à vous assurer que nous prenons au sérieux nos responsabilités dans la protection et la sauvegarde de cette information. 
</p>
<p><b>4. Modifications des Conditions Générales d'Utilisation:</b></p>
<p>Nous pouvons modifier ces termes et conditions à tout moment sans préavis. Si nous modifions ces termes et conditions, les conditions modifiées entreront en vigueur dès leur publication sur ce site.
</p>
</div>
{% endblock %}