{% extends '::base.html.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
				{% if app.user %}
					<h1>Bienvenue {{app.user.firstName}}</h1>
					<p class="lead"></p>
					<ul class="list-unstyled">
						<li></li>
					</ul>
				{% endif %}
				<div>
				{% if app.user %}
					{% if is_granted('ROLE_PROF_TBC') %}
						Votre application est en cours de validation. Merci de bien vouloir patienter.
					{% elseif is_granted('ROLE_ELEVE') %}
					{% endif %}

				{% else %}
					{{ render(controller('MainUserBundle:Security:login')) }} 
					<br />
					<br />
					<br />
					vous êtes un étudiant ?
					<a href="{{ path('main_student_register')}}">inscrivez vous</a>
					<br />
					vous êtes un prof ?
					<a href="{{ path('main_prof_register')}}">inscrivez vous</a>
				{% endif %}
				</div>
            </div>
        </div>
		
		
        <!-- /.row -->
		
        <div id="arbre"></div>

	<!-- /.container -->
    </div>
	<div class="modal"><!-- Place at bottom of page --></div>
	
	
{% endblock %}
	



