{% extends '::base.html.twig' %}

{% block body %}
<div style="margin:20px;">
<h1>Qui sommes-nous?</h1>

<p><b><u>Fondation</u></b></p>
<p>EPILOG Sàrl, est une société fondée en 2015 en Suisse. PAPILO est sa solution phare d'éducation en ligne spécialisée dans les sciences.</p>
<p>EPILOG Sàrl, est une société enregistrée au registre du commerce CHE-421.421.237 et domiciliée au 10 rue H Veyrassat, Genève, Suisse.</p>

<p><b><u>Notre Concept</u></b></p>
<p>Offrir à tous une solution web gratuite pour les élèves, simple et sans publicité, permettant 
« petit à petit » de valider les acquis et combler ses lacunes.</p>
<p>- Grâce à un arbre de connaissance permettant d´auto-piloter ses progrès</p>
<p>- Grâce à des évaluations ludiques et instructives sur les sciences.</p>
<p>Et aussi, des solutions innovantes pour supporter les professeurs dans le pilotage de leur classes.</p>

<p><b><u>Nos engagements</u></b></p>
<p>Un contenu aligné avec les programmes de l´éducation nationale Française.</p>
<p>Un suivi des suggestions des parents/élèves et professeurs mensuel pour une amélioration continue.</p>
<br />
<p>Nous contacter - <a href="mailto:contact@papilo.fr">contact@papilo.fr</a></p>
</div>
{% endblock %}