parameters:
    database_driver:   pdo_mysql
    database_host:     becomeaggs.mysql.db
    database_port:     ~
    database_name:     becomeaggs
    database_user:     becomeaggs
    database_password: VgAxmz9vyDYF

    mailer_transport:  smtp
    mailer_auth_mode:  login
    mailer_host:       smtp.becomeagosu.com
    mailer_port:       587
    mailer_user:       bobby@becomeagosu.com
    mailer_password:   bobbybobby

    locale:            fr
    secret:            6bf38d82b8fca3c2b361d5f064a7bc9155fdd37f
    debug_toolbar:          false
    debug_redirects:        false
    use_assetic_controller: true
