{% trans_default_domain 'FOSUserBundle' %}

<div class="container blocCentre">
	<div class="row">
			<h1 class="title-modify-profile">Tes infos</h1>
			<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
				{{ form_widget(form) }}
				<div>
					<br />
					<input type="submit" class="btn register-submit" value="{{ 'profile.edit.submit'|trans }}" />
					<br /><br /><br /><br /><br />
				</div>
			</form>
	</div>
</div>