body {
font-family: Verdana, Geneva, sans-serif;
}

.theme1 {
background : #5b74a9;
border-style: solid;
border-bottom : 0px;
border-top: 2px solid #f6a000;
color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #f6a000;
  background-color: transparent;
}

.title h1{
color: #506590;
font-family: Verdana;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.blue-home{
	background-color: #5c74a6;
}

.boss-home{
	background-color: #5c74a6;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 235px;
	width: 320px;
}

.orange-home{
	color: #f6a000;
	font-size: 20px;
	font-weight: bold;
	text-align:left;
}

.blanc-home{
	color: #f4f6f9;
	text-align:left;
}

.bottom-home{
	padding-top: 120px;
	padding-bottom: 50px;
	color: #094b84;
}

.bottom-home-txt{
	padding-bottom: 50px;
}

.bottom-home-txt img{
	max-width: 100%;
	object-fit: contain;
}

.separateur-home{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 2px;
	width: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #204477;
}

.bottom-titre-home{
	color: #204477;
}

.footer-home {
	display:inline-block;
	margin-top: 50px;
	width:100%;
	background-color: #f6a000;
	height: 50px;
	text-align:right;
	padding-top: 15px;
	padding-right: 70px;
}

.btn-orange{
	background-color: #dd922d;
	color: #ffffff;
	position:absolute;
	top:12%;
	left:46%;
	display:inline;
	width:150px;
	height:30px;
	padding-top:5px;
	border-radius: 10px;
}

@media screen and (max-width: 991px) {
.btn-orange{
	top:11%;
	left:43%;
	width:150px;
	height:30px;
	padding-top:5px;
}
}

@media screen and (max-width: 400px) {
.btn-orange{
	top:10%;
	left:36%;
	width:100px;
	height:25px;
	padding-top:1px;
}
}

.btn-orange:hover{
	background-color: #506590;
	color: #ffffff;
	text-decoration:none;
}

.bg_high_res_home {
	background-image:url(/img/bg_home_repeat.png);
}

.img-center {
    margin: 0 auto;
}


.form-control{
  background-color:#e3e9f1;
  color:#5b74a9;
  max-width:390px;
  height:50px;
  text-align:left;
  border-radius:10px;
}


#fos_user_registration_form .form-control {
  margin:auto;
  background-color:#e3e9f1;
  color:#5b74a9;
  max-width:290px;
  height:40px;
  text-align:left;
  border-radius:10px;
}

@media screen and (min-width: 768px) {
#fos_user_registration_form .form-control {
  margin:auto;
  background-color:#e3e9f1;
  color:#5b74a9;
  max-width:390px;
  height:50px;
  text-align:left;
  border-radius:10px;
}
}

.control-label
{
  color:#5b74a9;
}

.bg_login{
	background-image:url(/img/bg_login.png);
}

.modal_login_user h3{
	color:#5b74a9;
	font-weight:bold;
}

.modal-login-body{
font-weight:bold;
}

.modal-login-body > form > input[type="password"], input[type="text"]
{
  background-color:#e3e9f1;
  color:#5b74a9;
  width:390px;
  height:50px;
  text-align:left;
  border-radius:10px;
}

.modal-login-body > form > input[type="submit"]
{
  background-color:#5d76aa;
  color:#fffefc;
  width:390px;
  height:40px;
  text-align:center;
  border-radius:20px;
  margin-top:20px;
  font-weight:bold;
  font-size:16px;
}

.modal-signup-body a{
  display: block;
  background-color:#5d76aa;
  color:#fffefc;
  width:225px;
  height:30px;
  text-align:center;
  border-radius:20px;
  margin-top:13px;
  margin-left:45px;
  padding-top:2px;
  font-weight:bold;
  font-size:16px;
}


@media screen and (max-width: 360px) {
.bg_login{
	background-image:url(/img/bg_login_mobile.png);
}

.modal-login-body > form > input[type="password"], input[type="text"]
{
  width:325px;
  height:35px;
  border-radius:10px;
}

.modal-login-body a
{
  color:#5d76aa;
  text-align:center;
  margin:auto;
}

.modal-login-body > form > input[type="submit"]
{
  background-color:#5d76aa;
  color:#fffefc;
  width:325px;
  height:25px;
  text-align:center;
  border-radius:20px;
  margin-top:13px;
  padding-top:0px;
  font-weight:bold;
  font-size:16px;
}

}

@media screen and (max-width: 320px) {
.bg_login{
	background-image:url(/img/bg_login_mobile.png);
}

.modal-login-body > form > input[type="password"], input[type="text"]
{
  width:290px;
  height:35px;
  border-radius:10px;
}

.modal-login-body a
{
  color:#5d76aa;
  text-align:center;
  margin:auto;
}

.modal-login-body > form > input[type="submit"]
{
  background-color:#5d76aa;
  color:#fffefc;
  width:290px;
  height:25px;
  text-align:center;
  border-radius:20px;
  margin-top:13px;
  padding-top:0px;
  font-weight:bold;
  font-size:16px;
}

.modal-signup-body a{
  display: block;
  background-color:#5d76aa;
  color:#fffefc;
  width:225px;
  height:30px;
  text-align:center;
  border-radius:20px;
  margin-top:13px;
  margin-left:25px;
  padding-top:2px;
  font-weight:bold;
  font-size:16px;
}


}

.modal-login-body input[type="text"]::-webkit-input-placeholder { color:#5b74a9; }
.modal-login-body input[type="text"]::-moz-placeholder { color:#5b74a9; } /* firefox 19+ */
.modal-login-body input[type="text"]:-ms-input-placeholder { color:#5b74a9; } /* ie */

.modal-login-body input[type="password"]::-webkit-input-placeholder { color:#5b74a9; }
.modal-login-body input[type="password"]::-moz-placeholder { color:#5b74a9; } /* firefox 19+ */
.modal-login-body input[type="password"]:-ms-input-placeholder { color:#5b74a9; } /* ie */
.modal-login-body input:-moz-placeholder { color:#5b74a9; }

#link_sign_up_user_login {
  color:#fffefc;
  font-weight:bold;
  font-size:18px;

}

.modal-signup-body a:hover{
  background-color:#7290b8;
  text-decoration: none;
}

.modal-signup-body .bg-orange
{
  background-color:#dd922d;
}

.blocCentre
{
  background-image:url(/img/bg_register.png);
}

.register-submit{
  display: block;
  background-color:#5d76aa;
  color:#fffefc;
  width:225px;
  height:30px;
  text-align:center;
  border-radius:20px;
  margin-top:10px;
  margin:auto;
  top:10px;
  padding-top:2px;
  font-weight:bold;
  font-size:16px;
}

.register-submit:hover{
  background-color:#f6a000;
  color:#fffefc;
}

#link_login_user2 {
  display: block;
  background-color:#96BBCF;
  color:#fffefc;
  width:150px;
  height:23px;
  text-align:center;
  border-radius:20px;
  margin: 8px auto;
  font-weight:bold;
  font-size:16px;
}

#link_login_user2:hover {
  background-color:#f6a000;
  color:#fffefc;
  text-decoration:none;
}

