.theme1 {
background : #5b74a9;
border-style: solid;
border-bottom : 0px;
border-top: 2px solid #f6a000;
color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #f6a000;
  background-color: transparent;
}

.title h1{
color: #506590;
font-family: Verdana;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.blue-home{
	background-color: #5c74a6;
}

.boss-home{
	background-color: #5c74a6;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 235px;
	width: 320px;
}

.orange-home{
	color: #f6a000;
	font-size: 20px;
	font-weight: bold;
	text-align:left;
}

.blanc-home{
	color: #f4f6f9;
	text-align:left;
}

.bottom-home{
	padding-top: 120px;
	padding-bottom: 50px;
	color: #094b84;
}

.bottom-home-txt{
	padding-bottom: 50px;
}

.bottom-home-txt img{
	max-width: 100%;
	object-fit: contain;
}

.separateur-home{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 2px;
	width: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #204477;
}

.bottom-titre-home{
	color: #204477;
}

.footer-home {
	display:inline-block;
	margin-top: 50px;
	width:100%;
	background-color: #f6a000;
	height: 50px;
	text-align:right;
	padding-top: 15px;
	padding-right: 70px;
}

.btn-orange{
	background-color: #dd922d;
	color: #ffffff;
	position:absolute;
	top:14%;
	left:42%;
	display:inline;
	width:150px;
	height:30px;
	padding-top:5px;
	border-radius: 10px;
}

@media screen and (max-width: 360px) {
.btn-orange{
	background-color: #dd922d;
	color: #ffffff;
	position:absolute;
	top:14%;
	left:36%;
	display:inline;
	width:100px;
	height:25px;
	padding-top:1px;
	border-radius: 10px;
}
}

.btn-orange:hover{
	background-color: #506590;
	color: #ffffff;
	text-decoration:none;
}