{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mon historique</h1>

    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th>Savoir</th>
                <th>Temps</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
		{% for epreuve in epreuves %}
            <tr {% if epreuve.success == 1 %}class="success" {% else %}class="danger"{% endif %}>
                <td>{{ epreuve.savoir.name }}</td>
                <td>{{ epreuve.temps|date("i:s") }}</td>
                <td>{{ epreuve.score }}</td>
                <td>{{ epreuve.date|date("d/m/Y H:i:s") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}


