{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mes statistiques</h1>
	<canvas id="myChart" width="400" height="400"></canvas>
	<div id="js-legend" class="chart-legend"></div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="/js/Chart.min.js"></script>
	<script type="text/javascript">
		var ctx = document.getElementById("myChart").getContext("2d");
		var labels = $.parseJSON('{{ legend | raw }}');
		var data_epreuve_passees = $.parseJSON('{{ data_epreuve_passees | raw }}');
		var data_epreuve_reussies = $.parseJSON('{{ data_epreuve_reussies | raw }}');
		var data = {
			labels: labels ,
			datasets: [
			{
				label: "Epreuves passées",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: data_epreuve_passees
			},
			{
				label: "Epreuves réussies",
				fillColor: "rgba(220,220,220,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data: data_epreuve_reussies
			}
			]
		};
		var options = {
		  legendTemplate : '<ul>'
						  +'<% for (var i=0; i<datasets.length; i++) { %>'
							+'<li>'
							+'<span style=\"background-color:<%=datasets[i].pointColor%>\"></span>'
							+'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
						  +'</li>'
						+'<% } %>'
					  +'</ul>'
		}
		var myLineChart = new Chart(ctx).Line(data,options);
		$('#js-legend').append(myLineChart.generateLegend());
	</script>
{% endblock %}


