				  <table class="table" id="notes_table">
					<tr>
						<th style='text-align:center;'>Résumé</th>
						<th style='text-align:center;'>Note</th>
					</tr>
					<tr>
						<td>Note moyenne</td>
						<td>{{data.moyenne}}</td>
					</tr>
					<tr>
						<td>Note médiane</td>
						<td>{{data.mediane}}</td>
					</tr>
					<tr>
						<td>Plus haute</td>
						<td>{{data.haute}}</td>
					</tr>
					<tr>
						<td>Plus basse</td>
						<td>{{data.basse}}</td>
					</tr>
				  </table>
