{% extends '::base.html.twig' %}

{% block body -%}
	{% for post in posts %}
		<h1><a href="{{ path('main_blog_show', { 'id': post.id })}}">{{post.titre}}</a></h1>
		{{post.description|raw}}
		<br />
	{% endfor %}
{% endblock %}

